
<br><br>
<div class="row">
  
  <div class="large-6 large-centered columns"><h1>@GroupJeuneVLG</h1></div>
  
</div>
<div class="row">
	

<ul class="example-orbit" data-orbit>
  <li>
    <%= image_tag("1.jpg", :alt => "rss feed") %>
    <div class="orbit-caption">
      Caption One.
    </div>
  </li>
  <li>
    <%= image_tag("2.jpg", :alt => "rss feed") %>
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <%= image_tag("4.jpg", :alt => "rss feed") %>
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
</ul>

</div>

<div class="row">
<br><br><br>
<ul class="small-block-grid-3">
  <li><%= image_tag("6.jpg", :alt => "rss feed") %></li>
  <li><%= image_tag("7.jpg", :alt => "rss feed") %></li>
  <li><%= image_tag("5.jpg", :alt => "rss feed") %><!-- Your content goes here --></li>
</ul>
</div>

<div class="row">

<ul class="small-block-grid-3">
  <li><h3>Team England</li>
  <li><h3>Team Algeria</li>
  <li><h3>Team Noob<!-- Your content goes here --></li>
</ul>
</div>



